<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd">
		 <bean id="user" class="spring.setter.test1.User">
		     <property name="userName">
		        <value>sunny</value>
		     </property>
		     <property name="age">
		        <value>30</value>
		     </property>
		     <property name="salary">
		        <value>9999</value>
		     </property>
		 </bean>
	
		 
		 
</beans>
		
