<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd">
		 <bean id="book" class="spring.constructor.test4.Book">
		   <constructor-arg name="bookName" value="java"></constructor-arg>
		 </bean>
	
		 <bean id="student" class="spring.constructor.test4.Student">
		    <constructor-arg name="book" ref="book"></constructor-arg>
		 </bean>
		 
</beans>
		
