<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd">
		 <bean id="book" class="spring.setter.test2.Book">
		     <property name="bookName">
		        <value>JAVA</value>
		     </property>
		 </bean>
		  <bean id="student" class="spring.setter.test2.Student">
		     <property name="book" ref="book"/><!-- 依赖注入DI -->
		 </bean>
	
		 
		 
</beans>
		
